
{{#if cards.length}}
    {{#each cards}}
    <a class="card"  >
        <article class="card__article">
            <div 
                class="card__image"
                style="background-image: url('img/productos/{{photo}}.jpg')">
            </div>

            <div class="card__content">
            <h5 class="card__heading">{{name}}</h5>
            <div class="btn-container">
                <button class="btn-minus" id="btn-minus" onclick="addProduct(event, {{id}})"> <i class="fas fa-shopping-cart"></i></button>
            </div>
              <div class="card__description">
                <p><strong>${{price}}</strong></p>
            </div>
            </div>
        </article>
    </a>
    {{/each}}
{{else}}
    <h2>No se encontraron products</h2>
{{/if}}